<div class="row">

  <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9">
    <nb-card>
      <nb-card-header>Alterar senha</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="oldPass" class="label">Senha atual</label>
                <input type="password" formControlName="oldPassword" nbInput fullWidth id="oldPass" placeholder="Senha atual">
              </div>
              <div class="form-group">
                <label for="newPass" class="label">Nova senha</label>
                <input type="password" formControlName="password" nbInput fullWidth id="newPass" placeholder="Nova senha">
              </div>
              <div class="form-group">
                <label for="confirmPass" class="label">Confirmar nova senha</label>
                <input type="password" formControlName="confirmPassword" nbInput fullWidth id="confirmPass" placeholder="Confirmar nova senha">
              </div>

            </div>
          </div>
          <button type="submit" nbButton status="danger">Salvar</button>
        </form>
      </nb-card-body>
    </nb-card>

  </div>
</div>
